<% include_author = true if local_assigns[:include_author].nil? %>

<li>
  <h4>
    <span class="badge badge-info"><%= idea.votes.size %></span>
    <%= link_to idea.title, idea_path(idea) %>
    <% if include_author %>
      <small>an idea by <a href="<%= user_path(idea.user) %>"><%= idea.user.name %></small></a>
    <% end %>
  </h4>
</li>