<% content_for :page_title, "Browsing Ideas" %>

<h2>All Ideas</h2>

<%= render "shared/pagination", object: @ideas %>

<ul class="ideas list-unstyled">
  <%= render @ideas %>
</ul>

<%= render "shared/pagination", object: @ideas %>

