<header role="banner" class="primary-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1 class="branding header-branding">
          <%= link_to "whatdo", root_path %>
        </h1>
      </div>
      <div class="col-sm-9">
        <nav class="primary-navigation pull-right">
          <ul class="list-inline">
            <li><%= link_to "Browse Ideas", browse_path %></li>
            <li><%= link_to "Share an Idea", new_idea_path %></li>

            <%= render "shared/user_links" %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>