<% content_for :page_title, "Hi there!" %>

<section class="banner" role="banner">
  <header class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><strong>what</strong> · do</h1>

        <p>
          <strong>whatdo</strong> is a place where you can find and share ideas
          for your next big (or small) project.
        </p>

        <div class="user-callout">
          <h4>Get started:</h4>
          <div class="user-paths btn-group">
            <button type="button" class="btn btn-lg btn-primary">I'm a <strong>developer!</strong></button>
            <button type="button" class="btn btn-lg btn-primary">I'm an <strong>ideas guy!</strong></button>
          </div>
        </div>

        <p>
          <small><a href="#">I'm confused!</a></small>
        </p>
      </div>
    </div>
  </header>
</section>