<% content_for :page_title, "Hi there!" %>
<% provide :dont_wrap_content, true %>

<section class="introduction-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="introduction">
          Share your ideas, and bla bla boopety
          doo, amigo!
        </p>

        <div class="user-callout">
          <%= link_to browse_path, class: "btn btn-primary" do %>
            Find Ideas <i class="icon-angle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>