<% content_for :page_title, "Hi there!" %>

<section class="banner" role="banner">
  <header class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="introduction">
          A place where you can share and find ideas for your next big (or small) project.
        </p>

        <div class="user-callout">
          <button type="button" class="btn btn-lg btn-primary">
            Get Started <i class="icon-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
</section>