@import "whatdo";

/*
 * Buttons
 */
.btn {
  border: none;
  border-radius: 0;

  &:hover {
    border: none;
  }
}

/*
 * Pagination
 */
.pagination {
  @extend .well;

  padding: 6px;
  margin: 3px 0;
  border-radius: 0;
  background: $shadow-soft;

  & > li:last-child a, & > li:first-child a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    border-top-right-radius:    0;
    border-top-left-radius:     0;
  }
}

/*
 * Forms 
 */
form {
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend .form-control;

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;
  }
}

label {
  font-weight: 300;
  color: $text-color;
}

textarea {
  min-height: 220px;
}