/*
 *= require_self
 *= require_tree .
 */

/*
 * Basics
 */
$body-bg: white;

$text-color: #121212;
$text-color-dim: #BDBDBD;
$text-light-color: white;

$shadow-soft: rgba(0, 0, 0, .06);

$brand-primary: #4707A1;
$brand-primary-soft: lighten($brand-primary, 40%);

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;

@import "bootstrap";

/*
 * Styles for the homepage - big, flashy type thing
 * @todo- move these elsewhere!
 */
.banner {
  background: image-url("geometry.png");

  h1 {
    font-size: 48px;
    color: $brand-primary;
    font-weight: 300;
  }

  header {
    padding: 80px 0;
    text-align: center;
  }

  .user-callout {
    // Disable the default margin-top so we get a nice
    // and even padding on the user callout.
    h4 { margin-top: 0; }

    background: $body-bg;
    border: 1px solid $text-color-dim;

    box-shadow: 0 3px 6px $shadow-soft;

    margin-top: 30px;
    margin-bottom: 20px;

    padding: 20px;
  }
}