/*
 *= require_self
 *= require_tree .
 */

/*
 * Variables and overrides
 */

$body-bg:           #242E2F;

$text-color-dim:    #BDBDBD;
$text-light-color:  white;
$text-color:        $text-light-color;

$shadow-soft:       rgba(0, 0, 0, .1);

$brand-primary:     #CC2321;
$brand-secondary:   #17C1BF;
$brand-comp:        black;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;

$font-size-base:  16px;
$font-size-hero: $font-size-base * 2;

@import "bootstrap";

a {
  color: lighten($brand-secondary, 20%);
  &:hover {
    text-decoration: none;
    color: $brand-secondary;
  }
}

/*
 * Misc.
 */
.well {
  background: transparent;
  border-radius: none;
  border: none;
  padding: 0;
}

/*
 * Buttons
 */
.btn {
  border: none;

  &:hover {
    border: none;
  }
}

/*
 * Pagination
 */
.pagination {
  @extend .well;

  margin: 0;
  padding: 5px;
  border-radius: 0;
  border: 0;

  background: $shadow-soft;
  font-size: $font-size-base * .8;

  & > li:last-child a, & > li:first-child a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    border-top-right-radius:    0;
    border-top-left-radius:     0;
  }

  // wtf
  li a, li a span,
  li a span:hover, li a:hover,
  li.disabled a {
    background: none;
    border: none;

    color: $text-color-dim;

    &:hover {
      color: $brand-secondary;
    }
  }
}

/*
 * Forms 
 */
form {
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend .form-control;

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;
  }
}

label {
  font-weight: 300;
  color: $text-color;
}

textarea {
  min-height: 220px;
}

/*
 * Top banner and navigation:
 */

.primary-header {
  padding: 30px;

  a {
    color: $text-color-dim;

    &:hover { color: $brand-secondary; }
  }

  .branding {
    margin: 0;
    font-size: $font-size-base * 1.5;
    font-weight: 300;  
  }
}

/*
 * Ideas
 */
.document {
  padding: 20px;
  border: 1px solid $text-color-dim;
  margin: 20px 0;

  background: white;
  color: black;
}

/*
 * Users
 */
.user-name {
  color: $brand-secondary;
}

/*
 * Homepage
 */
.introduction-banner {
  background-color: $brand-primary;

  .introduction-banner-content {
    padding: 120px 40px 40px 40px;
    background: $shadow-soft;
  }

  .introduction {
    font-size: $font-size-base * 2;
    font-weight: 300;
  }

  .user-callout {
    $border-color: darken($brand-primary, 12%);
    $highlight-color: lighten($body-bg, 6%);

    border-top: 1px dotted $border-color;
    margin-top: 20px;
    padding-top: 20px;

    .btn {
      background: $body-bg;

      font-weight: 300;
      font-size: $font-size-base * 1.2;

      box-shadow: 0 3px 6px $shadow-soft,
                  inset 0 1px 0 $highlight-color;

      &:hover {
        background-color: $highlight-color;
      }
    }
  }
}