/*
 *= require_self
 *= require_tree .
 */

/*
 * Variables and overrides
 */

// Base and helper colors:
$brand-primary:     #CC2321;
$brand-secondary:   #17C1BF;
$brand-comp:        black;

$body-bg:           #242E2F;

$text-dim-color:    #BDBDBD;
$text-light-color:  white;
$text-color:        $text-light-color;
$text-dark-color:   #0E0E0E;

$shadow-soft-color: rgba(0, 0, 0, .1);
$shadow-hard-color: rgba(0, 0, 0, .3);

$link-color:        $brand-secondary;
$link-hover-color:  lighten($link-color, 20%);

// Typography:
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
$font-size-base:         16px;

// Navbar:
$navbar-default-bg:                  $body-bg;
$navbar-border-radius:               0;
$navbar-default-link-color:          $text-dim-color;
$navbar-default-link-hover-color:    $link-hover-color;
$navbar-default-link-active-color:   $navbar-default-link-hover-color;
$navbar-default-link-disabled-color: $text-dim-color;
$navbar-default-brand-hover-color:   $navbar-default-link-hover-color;
$navbar-default-link-active-bg:      darken($body-bg, 1%);

// Navbar toggle:
$navbar-default-toggle-hover-bg:     $shadow-soft-color;
$navbar-default-toggle-border-color: lighten($body-bg, 10%);

// Dropdown:
$dropdown-bg:               darken($navbar-default-link-active-bg, 6%);
$dropdown-border:           transparent;
$dropdown-link-color:       $navbar-default-link-color;
$dropdown-link-hover-color: $navbar-default-link-hover-color;
$dropdown-link-hover-bg:    transparent;

// Pagination:
$pagination-bg:             transparent;
$pagination-border:         none;
$pagination-active-bg:      $brand-primary;
$pagination-active-color:   $text-color;
$pagination-disabled-color: $text-dim-color;

// Panels & wells:
$panel-bg:                  $navbar-default-link-active-bg;
$panel-footer-bg:           darken($panel-bg, 1%);
$panel-inner-border:        none;
$panel-border-radius:       0;

@import "bootstrap";

a {
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

/*
 * Misc. Bootstrap tweaks
 */
.pagination {
  & > li > a:hover, & > li > a:focus, 
  & > li > span:hover, & > li > span:focus {
    background: $shadow-soft-color;
  }
}

.well {
  background:    $panel-bg;
  border-radius: $panel-border-radius;
  border:        $panel-inner-border;
}

.dropdown-menu {
  text-align: right;
  min-width: 100px;
  box-shadow: none;

  border-top: 1px solid $shadow-soft-color;
}

/*
 * Labels, badges, tags, etc
 */

.badge {
  background-color: $brand-primary;

  text-shadow: 0 1px 0 $shadow-hard-color;
  font-size: $font-size-base * .8;
  font-weight: bold;
}

/*
 * Buttons
 */
.btn {
  border: none;

  &:hover {
    border: none;
  }
}

/*
 * Forms 
 */
form {
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend .form-control;

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;
  }
}

label {
  font-weight: 300;
  color: $text-color;
}

textarea {
  min-height: 220px;
}

/*
 * Top banner and navigation:
 */

.primary-header {
  padding-top: 30px;

  .navbar {
    border: none;
  }

  .navbar-brand {
    font-weight: 300;
    font-size: $font-size-base * 2;
  }
}

/*
 * Ideas
 */
.idea-badge {
  $badge-height: 65px;

  background:    lighten($body-bg, 10%);
  min-height:    $badge-height;
  margin-bottom: 5px;
  padding:       5px 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .idea-votes {
    background: $shadow-soft-color;
    width:  40px;
    height: 40px;
    margin-top:  8px;

    text-align: center;
    padding-top: 10px;
    font-size: $font-size-base * .8;
    font-weight: bold;
  }

  // Make sure the details (title, etc) are always at least
  // as tall as the votes count
  .idea-details {
    min-height: 40px;
    margin-left: 55px;
  }

  .idea-title {
    font-weight: 300;
    margin: 5px 0;

    a {
      color: inherit;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .idea-meta {
    font-size: $font-size-base * .8;

    // Remove the padding-left on the first element of
    // the inlined list, so it aligns properly with the
    // idea's title:
    .list-inline > li:first-child {
      padding-left: 0;
    }

    .idea-share-date {
      color: $text-dim-color;
    }
  }
}

.document {
  padding: 20px;
  border: 1px solid $text-dim-color;
  margin: 20px 0;

  background: white;
  color: black;
}

/*
 * Users
 */
.user-badge {
  // The user badge is the information snippet displayed in
  // a user's profile.
  border-right: 1px solid $shadow-soft-color;
  padding: 30px 10px;

  .user-name {
    font-size: $font-size-base * 2.2;
    font-weight: 300;
    text-align: center;
  }

  .user-avatar, .user-meta {
    text-align: center;
  }

  .user-meta {
    font-size: $font-size-base * .8;
    color: $text-dim-color;
  }
}
/*
 * Homepage
 */
.introduction-banner {
  background-color: $brand-primary;

  .introduction-banner-content {
    padding: 120px 40px 40px 40px;
    background: $shadow-soft-color;
  }

  .introduction {
    font-size: $font-size-base * 2;
    font-weight: 300;
  }

  .user-callout {
    $border-color: darken($brand-primary, 12%);
    $highlight-color: lighten($body-bg, 6%);

    border-top: 1px dotted $border-color;
    margin-top: 20px;
    padding-top: 20px;

    .btn {
      background: $body-bg;

      font-weight: 300;
      font-size: $font-size-base * 1.2;

      box-shadow: 0 3px 6px $shadow-soft-color,
                  inset 0 1px 0 $highlight-color;

      &:hover {
        background-color: $highlight-color;
      }
    }
  }
}