/*
 *= require_self
 *= require_tree .
 */

/*
 * Basics
 */
$body-bg:           white;

$text-color:        #121212;
$text-color-dim:    #BDBDBD;
$text-light-color:  white;

$shadow-soft:       rgba(0, 0, 0, .06);

$brand-primary:     #309166;
$brand-secondary:   #C1A344;
$brand-comp:        #361E12;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;

$font-size-base:  14px;
$font-size-hero: $font-size-base * 2;

@import "bootstrap";

/*
 * Buttons
 */
.btn {
  border: none;
  border-radius: 0;

  &:hover {
    border: none;
  }
}

/*
 * Pagination
 */
.pagination {
  @extend .well;

  padding: 6px;
  margin: 3px 0;
  border-radius: 0;
  background: $shadow-soft;

  & > li:last-child a, & > li:first-child a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    border-top-right-radius:    0;
    border-top-left-radius:     0;
  }
}

/*
 * Forms 
 */
form {
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @extend .form-control;

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;
  }
}

label {
  font-weight: 300;
  color: $text-color;
}

/*
 * Styles for the homepage - big, flashy type thing
 * @todo- move these elsewhere!
 */
.banner {
  padding: 50px 0;
  text-align: center;

  .introduction {
    font-weight: 300;
    font-size: $font-size-hero;
  }

  .user-callout {
    margin: 40px 0;
  }
}

/*
 * User-specific styles
 */
.user-name {
  color: $brand-secondary;
}