/*
 * Variables and overrides
 */

$body-bg:           white;

$text-color:        #121212;
$text-color-dim:    #BDBDBD;
$text-light-color:  white;

$shadow-soft:       rgba(0, 0, 0, .06);

$brand-primary:     #309166;
$brand-secondary:   #C1A344;
$brand-comp:        #361E12;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;

$font-size-base:  14px;
$font-size-hero: $font-size-base * 2;

@import "bootstrap";